// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 { text-indent: 20px; }

.navbar-inverse .navbar-brand {
  color: #c8c8c8;
}

.navbar-inverse .navbar-nav > li > a {
  color: #c8c8c8;
}

#profile-block {
  display:inline-block;
  border-radius: 8px;
  padding: 19px;
  margin: 2px;
  background: #e8e8e8;
  position: relative;
  top: 20px;
  left: 10px;
}

#chartContainer {
  display: inline-block;
  padding-left: 60px;
}

#wrapper { margin-left: 90px; }
#user-wrapper { width: 80%; }
#top-wrapper { margin-top: 80px; }

#history {
  width: 35%;
  display: inline-block;
  border-radius: 8px;
  background: #f0f0f0;
  padding: 12px;
  margin: 12px;
}

#challenges {
  width: 35%;
  display: inline-block;
  border-radius: 8px;
  background: #f0f0f0;
  padding: 12px;
  margin: 12px 12px 12px 60px;
}
